* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

:root {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
  --maximum-yellow-red: hsla(40, 100%, 67%, 1);
  --tickle-me-pink: hsla(345, 100%, 74%, 1);
  --blue-yonder: hsla(221, 22%, 48%, 1);
  --lavender-gray: hsla(227, 20%, 77%, 1);
  --cultured: hsla(228, 12%, 92%, 1);
  --padding-5-percent: 5%;
}

body {
  background: var(--cultured);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem var(--padding-5-percent);
  background: var(--maximum-yellow-red);
  flex-wrap: wrap;
  border-bottom: 0.2rem solid var(--tickle-me-pink);
  box-sizing: border-box;
}

header > nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  list-style: none;
  height: 2rem;
}

#more-button,
#cart-button,
#sign-up-button {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
  transition: 100ms;
}

#more-button:hover,
#cart-button:hover,
#sign-up-button:hover {
  border-bottom: 0.2rem solid var(--tickle-me-pink);
  padding-bottom: 0.5rem;
  cursor: pointer;
  transition: 100ms;
}

#categories-bar {
  border-bottom: 2px solid var(--tickle-me-pink);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 1rem var(--padding-5-percent);
}

.category-card {
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 0.5rem;
  font-size: 14px;
}

/*.category-card:hover {*/
/*  border: 2px solid var(--tickle-me-pink);*/
/*  margin: -2px;*/
/*}*/

#showcase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem var(--padding-5-percent);
  gap: 1rem;
  border-bottom: 2px solid var(--tickle-me-pink);
}

.showcase-image {
  display: flex;
  justify-content: center;
  width: clamp(100%, auto, 70vh);
  overflow: hidden;
}

.showcase-image > img {
  width: 100%;
}

.showcase-heading {
  display: flex;
  padding-bottom: 1rem;
}

.showcase-heading > a > h1 {
  font-weight: 400;
  font-size: calc(2rem + 1vw);
}

.showcase-heading > a > h1:hover {
  border-bottom: 10px solid var(--tickle-me-pink);
  margin-bottom: -10px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#products-showcase {
  padding: 2rem var(--padding-5-percent);
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
}

.category-showcase {
  background: white;
  border-radius: 0.5rem;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.category-details {
  width: 18rem;
  padding: 1rem;
  border-right: 0.2rem solid var(--tickle-me-pink);
  display: flex;
  align-items: start;
  justify-content: center;
}

.category-catalogue {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 1rem;
  background: var(--cultured);
  padding-left: 1rem;
  scrollbar-width: none; /* for Firefox */
}

.category-catalogue::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.card {
  cursor: pointer;
  width: 18rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  background: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  gap: 0.5rem;
}

.item-description {
  width: 16rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 14px;
}

.item-description::before {
  content: "Description:";
  text-decoration: underline;
  text-underline: black;
}

.cost {
  width: 100%;
  font-size: 2rem;
}

.cost::before {
  content: "$";
  font-size: 1rem;
  padding-right: 0.2rem;
}

.product-image {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image > img {
  width: 9rem;
  max-height: 100%;
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.rating {
  font-size: 0.8rem;
  align-self: end;
}

.rating::before {
  content: "\f005";
  font-family: "Font Awesome 6 Free", emoji;
  font-weight: 900;
  color: gold;
  padding-right: 0.2rem;
}

.item-name {
  cursor: pointer;
  font-size: 16px;
  margin-right: 0.1rem;
  padding-bottom: 0.2rem;
  min-height: 4rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card:hover > .item-name {
  border-right: 0.2rem solid var(--tickle-me-pink);
}

.category-details {
  background: url("https://via.placeholder.com/100x150?text=Category+Image");
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  background: var(--blue-yonder);
  color: white;
  gap: 1rem;
  padding: 2rem var(--padding-5-percent) 1rem;
  margin-top: auto;
  border-top: 0.2rem solid var(--tickle-me-pink);
}

.links {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.link {
  cursor: pointer;
}

.attribution {
  padding-top: 1rem;
  font-size: 12px;
}

#single-category-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: inherit;
  padding: 1rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  background: var(--lavender-gray);
  border-bottom: 0.2rem solid var(--tickle-me-pink);
  margin-bottom: 1rem;
}

#single-category-catalogue {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1rem;
  justify-content: flex-start;
}

.in-single-category-view > .card {
  height: 28rem;
  flex: 0 1 24%;
}

main > #product {
  padding: 0 var(--padding-5-percent);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
}

main > #product > .image {
  width: 45vh;
  margin-right: 3rem;
  padding-top: 3rem;
  height: 80vh;
  display: flex;
  align-items: start;
  justify-content: center;
}

main > #product > .image > img {
  max-height: 70vh;
  max-width: 45vh;
  border-radius: 0.5rem;
}

#go-back {
  cursor: pointer;
  max-width: max-content;
}

main > #product > .details {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
  justify-content: start;
}

main > #product > .details > .rating {
  align-self: start;
}

main > #product > .details > .cost {
  align-self: start;
}

main > #product > .details > .name {
  font-size: 22px;
}

main > #product > .details > .description {
  font-size: 16px;
}

#go-back {
  padding: 1rem var(--padding-5-percent);
  font-size: 16px;
  color: gray;
}

#already-submitted-text {
  font-size: 18px;
  padding-bottom: 5rem;
}

.hint-text {
  font-size: 12px;
  color: grey;
  align-self: start;
  padding-bottom: 0.5rem;
}
.hint-text:before {
  content: '\f00c';
  font-family: "Font Awesome 6 Free", emoji;
  font-weight: 900;
  padding-right: 0.2rem;
}
@media (max-width: 768px) {
  main > #product {
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-bottom: 2rem;
  }

  main > #product > .image {
    height: auto;
  }

  main > #product > .image > img {
    margin-right: 0;
  }
}

#sign-up-form-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: inherit;
  /*height: 90vh;*/
  min-height: 40rem;
  padding: 0 var(--padding-5-percent);
}

#form-container > #sign-up-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 20rem;
}

#form-container > #sign-up-form > input {
  width: inherit;
  padding: 0.75rem;
  border-radius: 5px;
}

#form-container > #sign-up-form > input[type="submit"] {
  all: unset;
  background: var(--maximum-yellow-red);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer;
}

#form-container > #sign-up-form > input:focus:not(input[type="submit"]) {
  outline-style: none;
}

#form-container > #sign-up-form > input:not(input[type="submit"]) {
  border: 1px solid var(--tickle-me-pink);
}

.tos-text {
  font-size: 16px;
}
#tos-checkbox {
  align-self: start;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

@media (max-width: 768px) {
  #more-button:hover,
  #cart-button:hover {
    border-bottom: none;
    padding-bottom: 0;
    cursor: pointer;
    transition: 100ms;
  }

  header {
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 1rem;
  }

  .category-showcase {
    flex-direction: column;
  }

  .category-details {
    width: 100%;
    border-right: none;
    background: var(--lavender-gray);
    border-bottom: 0.2rem solid var(--tickle-me-pink);
  }

  .category-catalogue {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 0;
    padding-top: 2rem;
  }

  #single-category-catalogue {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
  }

  main > #product > .image {
    margin-right: 0;
    align-items: center;
    justify-content: center;
  }
}

/*Loader*/

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--tickle-me-pink);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
